$primary: #1a659e;
$light: #f6f6fa;
$dark: #353f4f;

$font-family-sans-serif: "Poppins", sans-serif;

$headings-font-family: "Montserrat", sans-serif;

$link-decoration: none;

$display-font-weight: 500;

@import "./../../../node_modules/bootstrap/scss/bootstrap";
