
$primary: #1A659E; 
$secondary: #f50505;
$light: #F6F6FA;
$dark: #353f4f;

$font-family-sans-serif: "Poppins", sans-serif;

$headings-font-family: "Montserrat", sans-serif;

$link-decoration: none;

$display-font-weight: 500;

@import "./../../node_modules/bootstrap/scss/bootstrap";
